In [1]:
import pandas as pd

def clean_data(df):
    # Drop duplicate rows in columns: '#stm_sap_meldnr', 'stm_mon_nr' and 58 other columns
    df = df.drop_duplicates(subset=['#stm_sap_meldnr', 'stm_mon_nr', 'stm_vl_post', 'stm_sap_meld_ddt', 'stm_sap_meldtekst_lang', 'stm_sap_meldtekst', 'stm_geo_mld', 'stm_equipm_nr_mld', 'stm_equipm_soort_mld', 'stm_equipm_omschr_mld', 'stm_km_van_mld', 'stm_km_tot_mld', 'stm_prioriteit', 'stm_aanngeb_ddt', 'stm_oh_pg_gst', 'stm_geo_gst', 'stm_equipm_nr_gst', 'stm_equipm_soort_gst', 'stm_equipm_omschr_gst', 'stm_km_van_gst', 'stm_km_tot_gst', 'stm_oorz_groep', 'stm_oorz_code', 'stm_oorz_tkst', 'stm_fh_ddt', 'stm_fh_status', 'stm_sap_storeind_ddt', 'stm_tao_indicator', 'stm_tao_indicator_vorige', 'stm_tao_soort_mutatie', 'stm_tao_telling_mutatie', 'stm_tao_beinvloedbaar_indicator', 'stm_sap_melddatum', 'stm_sap_meldtijd', 'stm_contractgeb_mld', 'stm_techn_mld', 'stm_contractgeb_gst', 'stm_techn_gst', 'stm_aanngeb_dd', 'stm_aanngeb_tijd', 'stm_aanntpl_dd', 'stm_aanntpl_tijd', 'stm_progfh_in_datum', 'stm_progfh_in_tijd', 'stm_progfh_in_invoer_dat', 'stm_progfh_in_invoer_tijd', 'stm_progfh_in_duur', 'stm_progfh_gw_tijd', 'stm_progfh_gw_teller', 'stm_fh_dd', 'stm_fh_tijd', 'stm_fh_duur', 'stm_sap_storeinddatum', 'stm_sap_storeindtijd', 'stm_oorz_tekst_kort', 'stm_schade_verhaalb_jn', 'stm_pplg_van', 'stm_pplg_naar', 'stm_dstrglp_van', 'stm_dstrglp_naar'])
    # Drop columns: 'stm_pplg_van', 'stm_pplg_naar' and 7 other columns
    df = df.drop(columns=['stm_pplg_van', 'stm_pplg_naar', 'stm_equipm_omschr_mld', 'stm_sap_meldtekst_lang', 'stm_sap_meldtekst', 'stm_equipm_omschr_gst', 'stm_oorz_tkst', 'stm_oorz_tekst_kort', 'stm_schade_verhaalb_jn'])
    # Drop first row
    df = df.iloc[1:, :]
    return df

# Loaded variable 'df' from URI: /home/daan/ai/ddb/data-driven-bussines-ai-2024/dataset-prorail-clean-2.csv
df = pd.read_csv('dataset-prorail-clean-2.csv')

df_clean = clean_data(df.copy())
df_clean.head()

/tmp/ipykernel_3345968/3010766959.py:13: DtypeWarning: Columns (0,8,11,12,13,17,20,21,26,37,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset-prorail-clean-2.csv')

,index2,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_geo_mld,stm_equipm_nr_mld,stm_equipm_soort_mld,stm_km_van_mld,stm_km_tot_mld,...,stm_progfh_in_duur,stm_progfh_gw_tijd,stm_progfh_gw_teller,stm_fh_dd,stm_fh_tijd,stm_fh_duur,stm_sap_storeinddatum,stm_sap_storeindtijd,stm_dstrglp_van,stm_dstrglp_naar
1,1,50053211,0.0,NaN,02/01/2006 09:00:00,624.0,NaN,NaN,0.0,0.0,...,99999999.0,00:00:00,0.0,02/01/2006,09:00:00,0.0,02/01/2006,09:00:00,NaN,NaN
2,2,50053213,48.0,GN,02/01/2006 12:35:00,201.0,NaN,NaN,0.0,0.0,...,99999999.0,00:00:00,0.0,02/01/2006,13:26:00,51.0,02/01/2006,13:26:00,Lp,Apg
3,3,50053214,72.0,ZL,02/01/2006 16:40:00,25.0,NaN,NaN,0.0,0.0,...,99999999.0,00:00:00,0.0,02/01/2006,17:20:00,40.0,02/01/2006,17:20:00,Hgl,NaN
4,4,50053215,96.0,ZL,02/01/2006 22:30:00,12.0,NaN,NaN,0.0,0.0,...,99999999.0,00:00:00,0.0,02/01/2006,22:36:00,6.0,02/01/2006,22:36:00,Hgv,NaN
5,5,50053218,38.0,EHV,02/01/2006 11:23:00,614.0,10621391.0,DETECTREIN,0.0,0.0,...,99999999.0,00:00:00,0.0,02/01/2006,11:30:00,7.0,NaN,00:00:00,Ht,NaN